/** @format */

.section__padding {
	padding: 4rem 8rem;
}

.flex__center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.app__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 100vh;
}

.app__wrapper_info {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.app__wrapper_img {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 2rem;
}

.app__wrapper_img-reverse {
	justify-content: flex-start;
	margin-right: 2rem;
}

.custom__button {
	padding: 1rem 2.5rem;
	border: 2px solid var(--white-1);
	border-radius: 5px;
	background: var(--white-1);
	color: #029d9d;
	font-weight: var(--fw-700);
}

.custom__button:hover {
  background: #029D9D;
  color: var(--white-1);
  transition: var(--transition-2);
  cursor: pointer;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 750px) {
	.section__padding {
		padding: 1rem 3rem;
	}
}

@media screen and (max-width: 550px) {
	.section__padding {
		padding: 1rem 2rem;
	}
}